<link rel="stylesheet" href="/css/telaInicial.css" />

 <div class="dropdown">
    <img onclick="myFunction()" class="dropbtn" src="./svg/menu.svg" alt="">
    <div id="myDropdown" class="dropdown-content">
        <a href="#">
           <img src="./svg/menu.svg" alt="">
           menu
        </a>
        <a href="#">
           <img src="./svg/home.svg" alt="">
           home
          </a>
        <a href="/reserva">
          <img src="./svg/busca.svg" alt="">
          buscar
        </a>
    </div>
</div>
   
     
    

<section class="container">
   <img class="logo" src="/img/logo 1.png" alt="" />
  <div class="month">
    <i class="fas fa-angle-left prev"></i>
    <div class="date">
      <h1></h1>
    </div>
    <i class="fas fa-angle-right next"></i>
  </div>
  <article class="calendar">
    <div class="weekdays">
      <div>Dom</div>
      <div>Seg</div>
      <div>Ter</div>
      <div>Qua</div>
      <div>Qui</div>
      <div>Sex</div>
      <div>Sab</div>
    </div>
    <a href="/reserva" class="days"></a>
  </article>
</section>

<script src="/js/days.js"></script>